// https://coolors.co/040926-3f37c9-b5179e-f07167-6c1aef

$oxford-blue: #f4d7a3ff;
$persian-blue: #335c66ff;
$byzantine: #b5179eff;
$bittersweet: #aa2a02ff;
$electric-indigo: #6c1aefff;

$primary-fg-color: #335c66ff;
$primary-bg-color: $oxford-blue;
$button-bg-color: $persian-blue;
$secondary-bg-color: #fdf3aeff;

$accent-color: $bittersweet;
$alt-text-color: #cecece;

//-- Fine-tuning --
$tagline-color: $primary-fg-color;

$button-fg-color: $primary-bg-color;
// Nav color of the full nav which shows up when pressing the burger on mobile viewports.
$full-nav-bg-color: $primary-fg-color;
$full-nav-fg-color: $primary-bg-color;

// The links have some shadow effect. It usually makes sense to leave this as is.
$link-shadow-color: $primary-fg-color;

$gallery-bg-color: $secondary-bg-color;
$gallery-modal-bg-color: $gallery-bg-color;
$gallery-overlay-bg-color: $primary-bg-color;
$gallery-overlay-title-color: $primary-fg-color;
$gallery-overlay-subtitle-color: $alt-text-color;
$gallery-modal-close-color: $primary-fg-color;

$footer-bg-color: $persian-blue;
$footer-icon-color: $oxford-blue;
$footer-text-color: $alt-text-color;